.wrapper {
    margin-top: 10%;
    text-align: center;
    margin-left: 10%;

    .upgrade-list {
            margin-top: 7%;
            display: flex;
            justify-content: end;
            list-style: none;
            padding-left: 25%;

            li {
                margin-right: 7.8%;
                flex-shrink: 0;
            }
        }
}