// If this list has taught me anything. Its that
// I should never be a graphic designer
.wrapper {
    margin-top: 10%;
    text-align: center;
    margin-left: 15%;

    .upgrade-list {
            margin-top: 7%;
            display: flex;
            justify-content: end;
            list-style: none;
            padding-left: 60%;

            li {
                margin-right: 7.8%;
                flex-shrink: 0;
            }
        }
}