.shop {
    padding-top: 25px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .head {
        grid-column: 1/ 4;
    }

    button {
        width: 25%;
        height: 66%;
    }
}
