.wrapper {
    margin-top: 10%;
    text-align: center;
    margin-left: 6%;

    .upgrade-list {
            margin-top: 7%;
            display: flex;
            justify-content: end;
            list-style: none;

            li {
                margin-right: 7%;
                flex-shrink: 0;
            }
        }
}