.wrapper {
    margin-top: 10%;
    margin-left: 4.9%;
    text-align: center;

    .upgrade-list {
            margin-top: 7%;
            display: flex;
            list-style: none;

            li {
                margin-right: 9%;
                flex-shrink: 0;
            }
        }
}